.form{
    padding: 40px;
    margin: 30px;
}

.Output{
    padding: 17px;
    margin-top: 15px;
}

.btn-c{
    padding-top: 15px;
    margin-left: 19px;
}

#button-submit{
    margin-left: 1012px;
    margin-bottom: 25px;
}